@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:300,400,500,700');

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Ubuntu Mono', Menlo, Monaco, Consolas, monospace;
	display: flex;
	height: 100vh;
}

.editor, .markdown-body {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 50%;
	width: 50%;
	height: 100vh;
	overflow: auto;
	padding: 1em;
	box-sizing: border-box;
}
.editor {
	padding: 0 1em;
}
.CodeMirror {
	height: 100%;
    font-family: inherit;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
}

.hljs-attr {
    color: #63a35c;
}

.hljs-meta {
    color: inherit;
    font-weight: inherit;
}

.hljs-comment, .hljs-quote {
    color: #969896;
    font-style: normal;
}

.hljs-keyword {
    color: #a71d5d;
    font-weight: inherit;
}

.hljs-title {
    color: #0086b3;
    font-weight: inherit;
}

.hljs-string {
    color: #183691;
}

/* Smooth scrolling */

#output {
	scroll-behavior: smooth;
}

/* Responsiveness */

#mobile-editor-toggle {
	position:fixed;
	width: 70px;
	height: 70px;
	bottom: 30px;
	right: 30px;
	background-color: #1e2bbf;
	color: #FFF;
	border-radius: 50%;
	text-align: center;
	font-size: 20px;
	border: none;
	z-index: 100;
}

@media screen and (max-width: 768px) {
	.editor, .markdown-body {
		flex-basis: 100%;
		width: 100%;
	}
	.editor {
		padding: 0;
		padding-left: 1em;
		margin: 0;
	}
	#mobile-editor-toggle {
		display: block;
	}
}

@media screen and (min-width: 768px) {
	.editor, .markdown-body {
		display: block !important;
	}
	#mobile-editor-toggle {
		display: none;
	}
}
